#register, #login {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid black;
	padding: 10px 20px;
	margin-right: 3em;
}

.stars-5 {
	display: inline-block;
	background: url('/assets/img/stars.png');
	width: 300px;
	height: 65px;
}

.stars-4 {
	display: inline-block;
	background: url('/assets/img/stars.png');
	background-position: 0px -60px;
	width: 300px;
	height: 62px;	
}
.stars-3 {
	display: inline-block;
	background: url('/assets/img/stars.png');
	background-position: 0px -122px;
	width: 300px;
	height: 65px;	
}
.stars-2 {
	display: inline-block;
	background: url('/assets/img/stars.png');
	background-position: 0px -188px;
	width: 300px;
	height: 65px;	
}
.stars-1 {
	display: inline-block;
	background: url('/assets/img/stars.png');
	background-position: 0px -254px;
	width: 300px;
	height: 65px;	
}

#rating {
	font-size: 2em;
	display: inline-block;
	vertical-align: top;
	line-height: 10px;
}

.otherReviews {
	border: 1px solid black;
	padding: 0px 15px;
	max-height: 150px;
	overflow: scroll;
}

#addBookandReview {
	width: 60%;
	margin-left: 2em;
}
	#addBookandReview > p {
		font-size: 1.5em;
	}

#ratinglabel {
	display: inline-block;
}

.rating {
	width: 40px;
}
.recentReview p {
	margin-left: 30px;
}

#chooseAuthor {
	margin-left: 20px;
}
#chooseAuthor>p {
	display: inline-block;
	
}

#chooseAuthor > p {
	display: inline-block;
}

.author {
	width: 200px;
}
.select-wrapper {
	margin-left: .5em;
	display: inline-block;
	
}