h1 {
	color: blue;
}
.outlined {
	border:1px solid lightgrey;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.book {
	border-top:1px solid silver;
}
.scroll{
	height: 300px;
	overflow: scroll;
}
.errors p{
	color: red;
}
.success p{
	color: green;
}